$red-1: #a52800;
$dark-1: #1E2027;
$dark-2: #131419;



//Specific use case colors
$side-nav-background-color: #1E2027;
$side-nav-title-color: #fff;
$text-color: #131419;
$transparent-background: #1E202755